<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HealthyHub</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header_inner">
          <a href="#!" class="logo">
            <img class="logo_img" src="/assets/img/Logo.svg" alt="logo">
          </a>
          <nav class="menu">
            <button class="menu_btn">
              <span class="menu_btn-span"></span>
              <span class="menu_btn-span"></span>
              <span class="menu_btn-span"></span>
            </button>
            <ul class="menu_list">
              <li class="menu_list-item">
                <a href="#!" class="menu_list-link">Home</a>
              </li>
              <li class="menu_list-item">
                <a href="#!" class="menu_list-link">About Us</a>
              </li>
              <li class="menu_list-item">
                <a href="#!" class="menu_list-link">How to use</a>
              </li>
              <li *ngIf = "!checkUser()" class="menu_list-item">
                <button class="menu_list-button">
                  <p class="menu_list-button_text">
                    <a href="Login" class="">Log in</a>
                  </p>
                </button>
              </li>
              <li *ngIf = "checkUser()" class="menu_list-item">
                <button class="menu_list-button">
                  <p class="menu_list-button_text">
                    <a href="Profile" class="">Profile</a>
                  </p>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="solutions">
        <div class="container">
          <button class="solutions_button">
            <p class="solutions_button_text">Health Matters</p>
            <img src="/assets/img/heart.svg" alt="heart" class="solution_button_heart">
          </button>
          <h1 class="section-title solutions_title"><span class="solutions_title-blue">One Step Solution</span><br>
            for all your dietary<br>needs.</h1>
          <p class="solutions_subtitle">Using your BMI index we calculate whether the<br>dish is suitable for you.</p>
          <form action="#" class="solutions_form">
            <div class="placeholder_with_buttons">
              <input class="form_input" type="text" placeholder="Search your product">
              <div class="form_buttons">
                <button class="form_button">
                  <img src="/assets/img/form_button_icon-1.svg" alt="">
                </button>
                <button class="form_button">
                  <img src="/assets/img/form_button_icon-2.svg" alt="">
                </button>
                <button class="form_button">
                  <img src="/assets/img/form_button_icon-3.svg" alt="">
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section class="futures">
        <div class="container futures_container">
          <div class="futures_sidecontent">
            <h2 class="futures_title">FEATURES WE PROVIDE</h2>
            <h1 class="section_title futures_main_title">
              Calculating BMI<br>is easier
              <img src="/assets/img/heart_rate.svg" alt="">
            </h1>
            <p class="futures_subtitle">We calculate your BMI index from<br>data like age, height, weight.</p>
          </div>
          <div class="futures_topics">
            <div class="future_topic">
              <img class="futures_topic_icon" src="/assets/img/food_icon.svg" alt="">
              <h3 class="futures_topic_title">
                Food Recomendation
              </h3>
              <p class="futures_topic_subtitle">
                We provide food recomendation according to your calorie requirements.
              </p>
            </div>
            <div class="future_topic future_topic_bottom">
              <img class="futures_topic_icon" src="/assets/img/chatbot_icon.svg" alt="">
              <h3 class="futures_topic_title">
                Interactive Chatbot
              </h3>
              <p class="futures_topic_subtitle">
                Solve your queries by interacting with our bot.
              </p>
            </div>
            <div class="future_topic">
              <img class="futures_topic_icon" src="/assets/img/stats_icon.svg" alt="">
              <h3 class="futures_topic_title">
                Nutritional Value
              </h3>
              <p class="futures_topic_subtitle">
                Get all the nutritional values of your preferred dish.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="tabs">
        <div class="container">
          <h2 class="tabs_title">HELP TOPICS</h2>
          <h1 class="section_title tabs_main_title">Enhance Your Lifestyle</h1>
          <div class="tabs_categories">
            <button class="tabs_btn tabs_btn--active" data-button="content-1">
              Salt
            </button>
            <button class="tabs_btn" data-button="content-2">
              Sweet
            </button>
          </div>
          <div class="tabs_content">
            <div class="tabs_content_item tabs_content_item--active" id="content-1">
              <div class="card" ng-repeat="product in products" *ngFor="let food of foods">
                <a class="card_img"  [href]="'/Detail/' + food.id">
                  <img class="card_img" src="/assets/img/pizza.jpg" alt="pizza">
                </a>
                <h3 class="card_title">{{food.name}}</h3>
                <p class="card_subtitle">
                  {{food.description}}
                </p>
              </div>
            </div>
            <div class="tabs_content_item" id="content-2">
              <div class="card" ng-repeat="product in products" *ngFor="let food of foods">
                <a class = "card_img" href="">
                  <img class="card_img" src="/assets/img/ice-cream.png" alt="pizza">
                </a>
                <h3 class="card_title">{{food.name}}</h3>
                <p class="card_subtitle">
                  {{food.description}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container footer_container reverse_footer">
        <div class="footer_main">
          <img src="/assets/img/logo_footer.svg" alt="footer_logo" class="footer_logo">
          <img src="/assets/img/logo_footer2.svg" alt="footer_logo-2" class="footer_logo-2">
          <p class="footer_logo-desc">
            Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam
          </p>
          <div class="footer_main-items">
            <img src="/assets/img/icon-1.svg" alt="icon-1" class="footer_main-icon">
            <img src="/assets/img/icon-2.svg" alt="icon-2" class="footer_main-icon">
            <img src="/assets/img/icon-3.svg" alt="icon-3" class="footer_main-icon">
            <img src="/assets/img/icon-4.svg" alt="icon-4" class="footer_main-icon">
            <img src="/assets/img/icon-5.svg" alt="icon-5" class="footer_main-icon">
          </div>
        </div>
        <nav class="footer_menu">
          <ul class="footer_menu-list">
            <li class="footer_menu-item">
              <p class="footer_menu-title">Product</p>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Features</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Pricing</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Case studies</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Reviews</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Updates</a>
            </li>
          </ul>
          <ul class="footer_menu-list">
            <li class="footer_menu-item">
              <p class="footer_menu-title">Company</p>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">About</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Contact us</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Careers</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Culture</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Blog</a>
            </li>
          </ul>
          <ul class="footer_menu-list">
            <li class="footer_menu-item">
              <p class="footer_menu-title">Support</p>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Getting started</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Help center</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Server status</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Report a bug</a>
            </li>
            <li class="footer_menu-item">
              <a href="#" class="footer_menu-link">Chat support</a>
            </li>
          </ul>
          <ul class="footer_menu-list contacts-list">
            <li class="footer_menu-item">
              <p class="footer_menu-title">Contacts us</p>
            </li>
            <li class="footer_menu-item">
              <img class="contacts-icon" src="/assets/img/email.svg" alt="email"><a href="#"
                class="footer_menu-link">contact company.com</a>
            </li>
            <li class="footer_menu-item">
              <img class="contacts-icon" src="/assets/img/phone.svg" alt=""><a href="#" class="footer_menu-link">(414) 687 -
                5892</a>
            </li>
            <li class="footer_menu-item">
              <img class="contacts-icon" src="/assets/img/location.svg" alt=""><a href="#" class="footer_menu-link">794
                Mcallister
                <br> St
                San Francisco, 94102</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="copyright_container">
        <span class="footer-spliter"></span>
        <div class="copyright">
          <div class="copyright_title">Copyright © 2022</div>
          <div class="copyright_links">
            All Rights Reserved | <a href="#" class="copyright_link">Terms and Conditions</a> | <a href="#"
              class="copyright_link">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="main.js"></script>
</body>
</html>

